{;;
    ;; !  | means mandatory -   modifier(s) alone when pressend change behavior
    ;; #  | means optional  -   modifiers are optional (but atleast one necessary)

    ;; :!Ca is keycode :a and prefix a with !C

    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift

    ;; ## | optional any
    ;; !! | command + control + optional + shift (hyper)

    ;; Install via brew: `brew install yqrashawn/goku/goku`

    ;; karabiner docs: ;; https://pqrs.org/osx/karabiner/json.html#complex_modifications-manipulator-definition
    ;; <other options> includs ~to_if_alone~, ~to_if_held_down~,~to_after_key_up~, ~to_delayed_action~ and ~parameters~.

    ;; (custom variables) & modifiers -> Advanced
    ;; https://github.com/yqrashawn/GokuRakuJoudo/blob/master/examples.org#custom-variable

    ;; Examples: https://github.com/yqrashawn/GokuRakuJoudo/blob/master/examples.org
    ;; https://gist.github.com/kaushikgopal/ff7a92bbc887e59699c804b59074a126
    ;; https://github.com/kchen0x/k-goku/blob/master/karabiner.edn

 :profiles {:Default {:default true
                      :sim     50     ;; simultaneous_threshold_milliseconds (def: 50)
                                      ;; keys need to be pressed within this threshold to be considered simultaneous
                      :delay   300    ;; to_delayed_action_delay_milliseconds (def: 500)
                                      ;; basically it means time after which the key press is count delayed
                      :alone   300    ;; to_if_alone_timeout_milliseconds (def: 1000)
                                      ;; hold for 995s and single tap registered; hold for 1005s and seen as modifier
                      :held    500    ;; to_if_held_down_threshold_milliseconds (def: 500)
                                      ;; key is fired twice when 500 ms is elapsed (otherwise seen as a hold command)
                      }}

 :main [{:des "CAPSLOCK is CTRL if pressed in combination, otherwise ESC"
         :rules [[:##caps_lock  :left_control  nil  {:alone :escape}]]}

        {:des "Backslash to ENTER"
         :rules [[:##backslash  :return_or_enter]]}

        {:des "hk-mode for hard-to-reach keys"
         ;;     U  I       
         ;;     J  K      
         ;;     M   
         ;;  
         ;;     +  ^  ~ 
         ;;     "  `  
         ;;     \   
         :rules [[:!Sgrave_accent_and_tilde ["hk-mode" 1] nil {:afterup ["hk-mode" 0]}]
                 [:!Su          :!Sequal_sign         ["hk-mode" 1]]
                 [:!Si          :!S6                  ["hk-mode" 1]]

                 [:!Sj          :!Squote              ["hk-mode" 1]]
                 [:!Sk          :non_us_backslash     ["hk-mode" 1]]
                 [:!Sl          :!Snon_us_backslash   ["hk-mode" 1]]

                 [:!Sm          :backslash            ["hk-mode" 1]]
                 ;; 
                 ]}

        {:des "arrow-mode for frequently used combinations"
         ;; `` () {} != == => -> <> <- <= >= |> </>
         ;;
         ;;     U  I  O  P 
         ;;  H  J  K  L  ;
         ;;  N  M  ,
         ;;  
         ;;     (  )  {  }
         ;;  !  =  -  <  >
         ;;  |  /   
         :rules [[:grave_accent_and_tilde ["arrow-mode" 1] nil {:afterup ["arrow-mode" 0]}]
                 [:y            :non_us_backslash     ["arrow-mode" 1]]
                 [:u            :!S9                  ["arrow-mode" 1]]
                 [:i            :!S0                  ["arrow-mode" 1]]
                 [:o            :!Sopen_bracket       ["arrow-mode" 1]]
                 [:p            :!Sclose_bracket      ["arrow-mode" 1]]

                 [:h            :!S1                  ["arrow-mode" 1]]
                 [:j            :equal_sign           ["arrow-mode" 1]]
                 [:k            :hyphen               ["arrow-mode" 1]]
                 [:l            :!Scomma              ["arrow-mode" 1]]
                 [:semicolon    :!Speriod             ["arrow-mode" 1]]

                 [:n            :!Sbackslash          ["arrow-mode" 1]]
                 [:m            :slash                ["arrow-mode" 1]]

                 ;; Fallback SHIFT for other keys:
                 [:open_bracket  :!Sopen_bracket  ["arrow-mode" 1]]
                 [:close_bracket :!Sclose_bracket ["arrow-mode" 1]]

                 ;; 
                 ]}
        ;; 
        ]}
