{:simlayers {:a-mode {:key :a}    ; brakets             { } [ ] ( ) < > /
             :s-mode {:key :s}    ; symbols             "  '  `  ? !  =  -  <  > |
             :v-mode {:key :v}    ; Number pad          7 8 9 4 5 6 1 2 3  
             }
 :main [;;
        {:des "CAPSLOCK is CTRL if pressed in combination, otherwise ESC"
         :rules [[:##caps_lock  :left_control  nil  {:alone :escape}]]}

        {:des "a-mode for brakets"
         :rules [:a-mode
                 [:##u         :!Sopen_bracket]
                 [:##i         :!Sclose_bracket]
                 [:##o         :open_bracket]
                 [:##p         :close_bracket]

                 [:##j         :!S9]
                 [:##k         :!S0]
                 [:##l         :!Scomma]
                 [:##semicolon :!Speriod]

                 [:##m         :slash]]}

                 ; { } [ ]
                 ; ( ) < >   
                 ; /

        {:des "s-mode for symbols"
         :rules [:s-mode
                 [:##u         :!Squote]
                 [:##i         :quote]
                 [:##o         :non_us_backslash]
                 [:##p         :!Sslash]

                 [:##h         :!S1]
                 [:##j         :equal_sign]
                 [:##k         :hyphen]
                 [:##l         :!Scomma]
                 [:##semicolon :!Speriod]

                 [:##m         :!Sbackslash]]}

                 ;    "  '  `  ?
                 ; !  =  -  <  >
                 ;    |

        {:des "v-mode for number pad"
         :rules [:v-mode
                 [:u :7]
                 [:i :8]
                 [:o :9]
                 [:j :4]
                 [:k :5]
                 [:l :6]
                 [:m :1]
                 [:comma :2]
                 [:period :3]
                 [:p :!Sequal_sign]
                 [:semicolon :hyphen]
                 [:slash :return_or_enter]
                 [:y :delete_or_backspace]
                 [:h :period]
                 [:n :0]]}]}



